@page "/cranksets/edit/{Id}"
@using BikeFitter.Models.Models
@using BikeFitter.Web.Services
@inject CranksetService CranksetService
@inject NavigationManager NavManager

<h3>Edit crankset</h3>

<EditForm Model="@crankset" OnValidSubmit="@HandleValidSubmit">
    <div class="mb-3">
        <label>
            Crankset name
            <InputText class="form-control" @bind-Value="crankset.Name"></InputText>
        </label>
    </div>
    <div class="mb-3">
        <label>
            Crankset price
            <InputNumber class="form-control" @bind-Value="crankset.Price"></InputNumber>
        </label>
    </div>
    <div class="mb-3">
        <label>
            Uri
            <InputText class="form-control" @bind-Value="crankset.Uri"></InputText>
        </label>
    </div>
    <div class="alert alert-danger" role="alert" hidden="@HideErrorMessage">
        Edit failed :(
    </div>
    <button type="submit" class="btn btn-primary">Edit</button>
    <a class="btn btn-light" href="/cranksets">Back</a>

</EditForm>

@code {
    [Parameter]
    public string Id { get; set; }
    private Crankset crankset = new Crankset();
    private bool HideErrorMessage { get; set; } = true;
    private bool getCranksetError;

    private async void HandleValidSubmit(EditContext editContext)
    {
        try
        {
            var response = await CranksetService.EditCrankset((Crankset)editContext.Model);

            if (response)
            {
                NavManager.NavigateTo("/cranksets");
            }
        }
        catch (Exception e)
        {

        }

        ShowErrorMessage();
    }

    private void ShowErrorMessage()
    {
        HideErrorMessage = false;
    }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var response = await CranksetService.GetCrankset(int.Parse(Id));
            crankset = response;
        }
        catch (Exception e)
        {
            getCranksetError = true;
        }
    }
}
