@page "/forks/edit/{Id}"
@using BikeFitter.Models.Models
@using BikeFitter.Web.Services
@inject ForkService ForkService
@inject NavigationManager NavManager

<h3>Edit fork</h3>

<EditForm Model="@fork" OnValidSubmit="@HandleValidSubmit">
    <div class="mb-3">
        <label>
            Fork name
            <InputText class="form-control" @bind-Value="fork.Name"></InputText>
        </label>
    </div>
    <div class="mb-3">
        <label>
            Fork price
            <InputNumber class="form-control" @bind-Value="fork.Price"></InputNumber>
        </label>
    </div>
    <div class="mb-3">
        <label>
            Uri
            <InputText class="form-control" @bind-Value="fork.Uri"></InputText>
        </label>
    </div>
    <div class="alert alert-danger" role="alert" hidden="@HideErrorMessage">
        Edit failed :(
    </div>
    <button type="submit" class="btn btn-primary">Edit</button>
    <a class="btn btn-light" href="/forks">Back</a>

</EditForm>

@code {
    [Parameter]
    public string Id { get; set; }
    private Fork fork = new Fork();
    private bool HideErrorMessage { get; set; } = true;
    private bool getForkError;

    private async void HandleValidSubmit(EditContext editContext)
    {
        try
        {
            var response = await ForkService.EditFork((Fork)editContext.Model);

            if (response)
            {
                NavManager.NavigateTo("/forks");
            }
        }
        catch (Exception e)
        {

        }

        ShowErrorMessage();
    }

    private void ShowErrorMessage()
    {
        HideErrorMessage = false;
    }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var response = await ForkService.GetFork(int.Parse(Id));
            fork = response;
        }
        catch (Exception e)
        {
            getForkError = true;
        }
    }
}
