@page "/brakes/add"

<h3>Add a brake</h3>

<form>
    <div class="mb-3">
        <label for="txtBrakeName">Brake name</label>
        <input type="text" class="form-control" id="txtBrakeName" />
    </div>
    <div class="mb-3">
        <label for="txtBrakePrice">Brake price</label>
        <input type="text" class="form-control" id="txtBrakePrice" />
    </div>
    <div class="mb-3">
        <label for="txtBrakeUri">Brake uri</label>
        <input type="text" class="form-control" id="txtBrakeUri" />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

@code {

}
