@page "/brakes/edit/{Id}"
@using BikeFitter.Models.Models
@using BikeFitter.Web.Services
@inject BrakeService BrakeService
@inject NavigationManager NavManager

<h3>Edit brake</h3>

<EditForm Model="@brake" OnValidSubmit="@HandleValidSubmit">
    <div class="mb-3">
        <label>
            Brake name
            <InputText class="form-control" @bind-Value="brake.Name"></InputText>
        </label>
    </div>
    <div class="mb-3">
        <label>
            Brake price
            <InputNumber class="form-control" @bind-Value="brake.Price"></InputNumber>
        </label>
    </div>
    <div class="mb-3">
        <label>
            Uri
            <InputText class="form-control" @bind-Value="brake.Uri"></InputText>
        </label>
    </div>
    <div class="alert alert-danger" role="alert" hidden="@HideErrorMessage">
        Edit failed :(
    </div>
    <button type="submit" class="btn btn-primary">Edit</button>
    <a class="btn btn-light" href="/brakes">Back</a>

</EditForm>

@code {
    [Parameter]
    public string Id { get; set; }
    private Brake brake = new Brake();
    private bool HideErrorMessage { get; set; } = true;
    private bool getBrakeError;

    private async void HandleValidSubmit(EditContext editContext)
    {
        try
        {
            var response = await BrakeService.EditBrake((Brake)editContext.Model);

            if (response)
            {
                NavManager.NavigateTo("/brakes");
            }
        }
        catch (Exception e)
        {

        }

        ShowErrorMessage();
    }

    private void ShowErrorMessage()
    {
        HideErrorMessage = false;
    }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var response = await BrakeService.GetBrake(int.Parse(Id));
            brake = response;
        }
        catch (Exception e)
        {
            getBrakeError = true;
        }
    }
}
